body {
    background-color: rgba(255, 255, 255, 0.95);
    height: 200vh;
}

/* main */

.mainnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    height: 90px;
    background-color: rgba(0, 28, 49, 0.9);
}
.mainmargin {
    padding: 0 15% 0 15%;
}
.leftmargin {
    float: left;
}
.rightmargin {
    float: right;
}

/* nav */

.navitem {
    display: inline-block;
    height: 90px;
    width: 75px;
    padding-top: 5px;
    text-align: center;
    line-height: 90px;
    color: #bbc3cf;
}
.navbutton {
    display: inline;
    padding-left: 20px;
    width: 180px;
    height: 90px;
    background-color: #1a8af3;
}
.navbottonicon {
    padding: 30px 20px 0 0;
}
.navitem:hover {
    -webkit-transition-duration: 0.1s;
    /* Safari */
    transition-duration: 0.1s;
    color: #596474;
}
